.table-header {
    text-align: center;
}

.p-buttonset p-button {
    margin-right: 20px; /* Change this value for your desired spacing */
}

.captionflex {
    display: flex;
    justify-content: space-between;
    align-items: center; 
    margin-right: 40px;
}